{% extends "records/base.html" %}

{% block content %}

<h2>Parent Questionnaire</h2>
<p>This is the introduction section or explanatory paragraph.</p>

<form class="myForm_100" name="input" action="." method="post"><div class="formPadding">

{% load comparison %}
<h4>Tell us about yourself.</h4>
{% for field in form %}

<div class="center_text">
			   {{field.label_tag }}
	{% if field.help_text %}<div class="help_text">{{field.help_text}}</div>{% endif %}
			   {{ field }}
	{% if field.errors %}<div class="myerrors">{{ field.errors }}</div>{% endif %}

</div>

{% endfor %}
<div class="submit"><input type="submit" value="Update &raquo;"></div>

</div></form> 

{% endblock %}

